{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="sanjay">

  <div class="dev_div">
    <img src="/images/skull.gif" />
    <span>Developed by
      <a href="https://www.instagram.com/raghuvr_/" target="_blank" >Raghunandhan</a> Student at Sri Eshwar College of Engineering</span>
    <span>This project is Developed for SECE Mini Project</span>
    <div class="dev_div_links">
      <a href="r4ghunandhan@gmail.com" target="_blank" class="sec_btn">Mail</a>
      <a href="https://www.github.com/raghunandhanvr/" target="_blank" class="sec_btn">GitHub</a>
      <a href="https://www.facebook.com/raghunandhanvr/" target="_blank" class="sec_btn">Facebook</a>
    </div>
    <iframe
      src="https://ghbtns.com/github-btn.html?user=raghunandhanvr&type=follow&count=false&size=large"
      frameborder="0" scrolling="0" width="220px" height="30px"
    ></iframe>
  </div>

</div>

{{> footer}}
