{{> nHeader}}

<div class="notes_wrapper">

  <div class="forgot_password cua">
    <div class="display_text">
      <span>Forgot password</span>
    </div>
    <p class="form_fp">Try to Contact <a href="https://www.instagram.com/raghuvr_/">Admin</a> for password recovery</p>
  </div>

</div>

{{> footer}}
